<div class="container border-bottom border-dark">
  <br/>
  <div class="text-center">
  <h2 ><strong> <span id="sunrise">Sunrise </span> | <span id="sunset">Sunset </span></strong></h2>
  <!--<p> This is a simple Angular application ... </p>-->
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <form class="input-group flex flex-nowrap" #form1="ngForm" (ngSubmit)="setCenter()">
        <div class="">
          <input size="40" [(ngModel)]="city" class="form-control" name="city" placeholder="Enter city name" required/>
        </div>
        <div class="btn-group input-group-append">
          <button (click)="setCurrentLocation()" title="Get data for current location" type="submit" class="btn btn-outline-secondary"><i class="fa fa-user"></i></button>
          <button (click)="getLocation()" type="submit" class="btn btn-dark" [disabled]="form1.invalid"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="input-group flex flex-nowrap" #form2="ngForm" (ngSubmit)="setCenter()">
          <input type="number" class="form-control" name="latitude" [(ngModel)]="lat" placeholder="Enter latitude" required>
          <input type="number" class="form-control" name="longitude" [(ngModel)]="lng" placeholder="Enter longitude" required>
        <div class="btn-group input-group-append">
        <button (click)="getData()" type="submit" class="btn btn-dark " [disabled]="form2.invalid"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:400px"></div>
        </h3>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-6">
      <div *ngIf="apiData" class="float-left">
        <h4>
          <span id="sunrise"><i class="fa fa-sun"></i>
            <!--<i class="fa fa-arrow-up"></i>-->
          </span>
          Sunrise: <strong>{{this.apiData.results.sunrise}} </strong> UTC</h4>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="apiData" class="float-right">
        <h4>
          <span id="sunset"><i class="fa fa-sun" ></i>
            <!--<i class="fa fa-arrow-down"></i>-->
          </span>
          Sunset: <strong>{{this.apiData.results.sunset}} </strong>UTC</h4>
      </div>
    </div>

  </div>




</div>
